#ColorPalletteOfficial {
  color: #d9593d;
  color: #f2c029;
  color: #b8d9d5;
  color: rgb(44, 58, 64);
  color: #f2f2f2;
}

#ColorPalletteTemp {
  color: rgb(200, 192, 167);
  color: #f5f7f2;
  color: rgb(185, 216, 226);
  color: black;
  color: gray;
  color: #e9e2e7;
  color: rgb(32, 31, 34);
}
