#authParent {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#authAndRegWindow {
  justify-content: center;
  margin: auto;
}
#landingBackground {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  /*margin-left: 50vw;
  margin-right: 50vw;*/
}
#signInBtn {
  justify-content: center;
  margin: auto;
  padding-left: 25%;
  padding-right: 25%;
  max-height: 50px;
}