* {
  /*outline: 1px solid red;*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(200, 192, 167);
}

.jobWrapper {
  display: flex;
  border: 1px solid black;
}

.jobLeftSideInfo {
  width: 80%;
  height: 2em;
}

.jobRightSideInfo {
  width: 80%;
  height: 2em;
  text-align: right;
}

.selectedJob {
  background-color: rgb(185, 216, 226);
}

.detailsButton {
  width: 100%;
  font-size: 2em;
  text-align: center;
  position: relative;
}
