* {
  /*outline: 1px solid red;*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #2C393F;
  background-color: rgb(44, 57, 62);
  font-family: trebuchet monospace;
  color: #f2f2f2;
  color: rgb(242, 242, 242);
}

.standAloneText {}

.hr {
  width: 100vw;
  margin-bottom: 3px;
}

#customerTmplWrap {}

#customerLeftBlock{
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin-right: 10px;
  padding-right: 10px;
}
.customerRightWrapper {
  float: right;
  display: flex;
  flex-direction: column;
}

.radioWrapper {
  float: right;
  margin: 0px;
  padding: 0px;
}

.radio {
  margin: 0px;
}

.numberWraper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

#orderNumber {
  text-align: right;
}

#landingBackground {
  background-image: image('/');
}

#merxOrigPalette {
  color: #09BBFF;
  border-color: #D4B30C;
  column-rule-color: #D94E08;
  background-color: black;
}

#PPColorPalette {
  color: #e4fffe;
  color: #f2f2f2;
  background-color: rgb(44, 58, 64);
  background-color: #2c3a40;
  background-color: #2C393F;
  border-color: rgb(32, 31, 34);
  background-color: rgba(52, 52, 52, 0.85);
}

#ColorPaletteAutumn {
  color: #d9593d;
  color: #f2c029;
  color: #b8d9d5;
  color: rgb(44, 58, 64);
  color: #f2f2f2;
}

#ColorPalletteTemp {
  color: rgb(200, 192, 167);
  color: #f5f7f2;
  color: #e9e2e7;
  color: rgb(185, 216, 226);
  color: rgb(32, 31, 34);
}

#buttonLine {
  height: 50px;
  width: 100%;
}

#headerTmplWrapper {
  display: flex;
  outline: 1px solid black;
  color: #D4B30C;
  color: #D94E08;
  color: #09BBFF;
  color: #d9593d;
  color: #f2c029;
  color: #b8d9d5;
  color: rgb(44, 58, 64);
  color: #f2f2f2;
}

#hamburgerWrapper {
  flex: 1;
}

#hamburger {
  padding-left: 1.25em;
  position: relative;
}

#hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.21em;
  bottom: 0.21em;
  width: 1em;
  background: linear-gradient( to bottom, rgb(242, 242, 242), rgb(242, 242, 242) 20%, rgb(44, 57, 62) 20%, rgb(44, 57, 62) 40%, rgb(242, 242, 242) 40%, rgb(242, 242, 242) 60%, rgb(44, 57, 62) 60%, rgb(44, 57, 62) 80%, rgb(242, 242, 242) 80%, rgb(242, 242, 242) 100%);
}

#currentView {
  flex-grow: 1;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

alert-dir {
  width: 1.25em;
  background-color: purple;
}

.navMenuWrapper {
  display: flex;
  position: fixed;
  margin-top: 19px;
  width: 100vw;
  height: 8vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #2C393F;
  border: 1px solid #f2f2f2;
}

#navMenuSelection:active {
  position: relative;
  top: 1px;
}

#navMenuSelection:hover {
  background-color: #222d32;
}

#navMenuSelection {
  flex-grow: 1;
  text-align: center;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.jobWrapper {
  display: flex;
  outline: 1px solid black;
  background-color: rgb(32, 31, 34);
  color: #f2f2f2;
  height: 30px;
}

.jobLeftSideInfo {
  flex: 1.8;
  font-size: 0.8em;
  text-align: left;
}

.jobRightSideInfo {
  flex: 1.8;
  font-size: 0.8em;
  text-align: right;
}

.selectedJob {
  background-color: rgba(52, 52, 52, 0.85);
}

.details {
  flex: 6.4;
  font-size: 2em;
  text-align: center;
  position: relative;
  background-color: #D4B30;
}

#addJobBtn {
  padding: 0 50% 0 50%;
  font-size: 2em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  background-color: rgb(32, 31, 34);
}

#addNewJobModal {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#addNewJobModal:after {
  content: '';
  background-color: gray;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

.modalHeaderBar {
  text-align: right !important;
  background-color: #f5f7f2;
  margin: 0 0 10px 0
}

.modalHeaderBar .modalTitle {
  margin-left: 10px;
  float: left;
}

.modalHeaderBar .closeModal {
  padding: 0 4px;
  border: 1px solid #e9e2e7;
}

.modalTable {
  border: 2px solid darkgrey;
  background: #e9e2e7;
  margin: 10px;
  position: relative;
  z-index: 1;
  display: table;
  text-align: center;
  opacity: 1;
  z-index: 101;
}


/*ModalCommons*/

.modalCell {
  display: table-cell;
  padding: 0 0 10px 0;
}

.modalCell > div {
  text-align: center;
  width: 100%;
}

.customerForm {
  margin-top: 3px;
  margin-bottom: 3px;
}

.customerInput {
  margin-top: 3px;
  margin-bottom: 3px;
}


/*CustomerDisplayDirective*/

.customerDispWrapper {
  margin: auto;
  padding: 20px;
}

#woForm {}

.woInput {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 70vw;
}

#woTextArea {
  width: 95vw;
}

#miniLogo {
  float: right;
  margin-right: 2px;
  margin-bottom: 0px;
  width: 28vw;
  max-width: 70px;
  max-height: 70px;
}


/*Modal*/

.overlay {
  color: black;
  position: fixed;
  left: 25%;
  top: 20%;
  padding: 25px;
  border: 2px solid black;
  background-color: #ffffff;
  z-index: 100;
  overflow: auto;
  border-radius: 2px;
  border: 1px solid #C0C3C5;
}

.fade {
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: black;
  -moz-opacity: 0.7;
  opacity: .70;
  filter: alpha(opacity=70);
  width: 100%;
  height: 100%;
  z-index: 90;
}
