<div id="jobListTmplWrap">
  <div ng-repeat="workOrder in workOrders | orderBy : 'Date' : true" class="jobList">
    <div class="jobWrapper">
      <div class="jobLeftSideInfo">{{workOrder.date | date : 'shortDate'}}
        <br/>
        {{workOrder.date | date : 'shortTime'}}
      </div>

      <div ng-click="workOrder.selected = !workOrder.selected" class="details">
        <span>{{customer.name}}</span>
      </div>
      <div class="jobRightSideInfo">{{customer.city}}</div>

    </div>

    <!-- Might make this link to:... work orders displayed... -->
    <div ng-show="job.selected" class="selectedJob">
      {{job.description}}
      {{workOrder._id}}
      <div ng-repeat="part in job.parts">
        {{part.name}}
        {{part.description}}
      </div>
    </div>
  </div>
  <span type="button" id="addJobBtn" ui-sref="jobList.newJobModal">+</span>
  <ui-view></ui-view>
</div>
