
<div class="customerDispWrapper">
  <img id="miniLogo" src="./media/miniLogo.png"/>
  <div  ng-model="cDispObj" class="perCustomerWrapper">
  <!-- {{customerDisp[0]}} -->
  <p>{{customer.lastName}}, {{customer.firstName}}</p>
  <p>{{customer.email}}</p>
  <p>{{customer.address}}</p>
  <p>{{customer.zip}}</p>
  <p>{{customer.city}}, {{customer.state}}</p>
  <p>WarrantyStatus: {{customer.warrantyStatus}}</p>
<br>
</div>
</div>
<!-- customerDisp on parent controller -->

<!-- TODO: one query from mainSvc, to retrieve customer info and WOinfo at the same time. -->

<!-- probably will not want an ng-repeat here, but it was great practice.
 -->
 <!-- NOTE: only display one customer per PO/ WO -->
<!-- Inputs -->
<!-- <div class="addInventoryToPoBtn" ng-click="NOTE: bring up the swap dir, "> -->

<!-- Display Outputs -->
<!-- TODO: generate a customer service number, should reflect how many times that customer has been serviced -->
<!-- TODO: attach current user as the technician name -->
<!-- TODO: itemized charges NOTE: should allow editing for certain users-->
