<div ng-repeat="job in jobs | orderBy : 'time' : true" class="jobList">
  <div class="jobWrapper">
    <div class="jobLeftSideInfo">{{job.time | date : 'shortTime'}}</div>
    <!-- // save the time as a date object, it will convert it into a date string-->
    
    <div ng-click="job.selected = !job.selected" class="detailsButton">
      <span>{{job.name}}</span>
    </div>
    <div class="jobRightSideInfo">{{job.location}}</div>

  </div>

  <div ng-show="job.selected" class="selectedJob">
    {{job.description}}
    <div ng-repeat="part in job.parts">
      {{part.name}}
      {{part.description}}
    </div>
  </div>
</div>
<button id="addJobBtn" ng-click="addJob();">Add Job</button>
<div ui-view class="addJobModal"></div>
