<customer-dir></customer-dir>
<form class="woForm" action="index.html" method="post">
{{state.current.name | uppercase}}
<input class="woInput" type="text" name="reasonForServiceRequest" value="" placeholder="reasonForServiceRequest">
<input class="woInput" type="text" name="serviceDate " value="" placeholder="serviceDate">
<textarea class="woInput woTextArea" rows="4" name="detail" ng-model="newJob.detail" value="" placeholder="Please Enter Detailed Instructions for the Tech"></textarea>

<!-- Inputs -->
<!-- TODO: Odometer input NOTE: hidden from customer -->
<!-- TODO: referral name auto populated, but receptive to input NOTE: the referree should recieve a credit, unless he is the contractor for whome the home was built, at that point it should be added to the contractors associated jobs -->

<!-- Display Outputs -->
<!-- TODO: display total parts used -->
<!-- TODO: generate a job order number -->
<!-- TODO: total charge should be summed -->
<!-- TODO: NOTE: future signiture pannel for mobile -->
</form>
