<div id="woWrapper">
  <customer-Dir id="customerDir" _id="_id"></customer-Dir>{{_id}}
  <form ng-submit="createWorkOrder(workOrder);" class="woForm">
    <div>
      <input ng-model="workOrder.date" class="woDate" type="date" name="serviceDate" placeholder="serviceDate">
      <input ng-model="workOrder.reason" class="woInput" type="text" name="reasonForServiceRequest" placeholder="reasonForService">
    </div>

    <textarea ng-model="workOrder.notes" id="woTextArea" name="detail" placeholder="Please Enter Detailed Instructions for the Tech"></textarea>

    <button class="woInput" type="submit" placeholder="EnterTextHere">Submit Work Order</button>
  </form>
</div>
