<div class="standAloneText">

  <customer-disp-dir ></customer-disp-dir>
  <customer-disp-dir ></customer-disp-dir>
  <customer-disp-dir ></customer-disp-dir>
  <customer-disp-dir ></customer-disp-dir>
  <customer-disp-dir ></customer-disp-dir>
  <!-- // put the ng-repeat on ths end -->
  <search-field-dir ng-controller="searchFieldCtrl">{{testSFCtrl}}</search-field-dir>
</div>

<!-- TODO: inventory name -->
<!-- TODO: inventory qty -->
<!-- TODO: suggested supplier -->
<!-- TODO: radio button for re-stock, or work order -->
<!-- TODO: associated work order # to ng-show upon workOrder being selected -->
<!-- get a whole purchase order back as an object-->
